* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/src/ulsu.png");
  background-repeat: no-repeat;
  background-size: 101%;
  
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  
}

.board{
  min-height: 300px;
  min-height: 400px;
  
  
  padding: 20px 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  color: black;
  background-color: aliceblue;
  margin-top: -400px;
  border-radius: 3px;
  transition: 0.1s linear;
  
  
}

.board:hover{
  min-height: 320px;
  min-height: 420px;
}

.board__title{
  font-family: 'inter', sans-serif;
  font-size: larger;
  font-style: 1.5rem;
  font-weight: 700;
  position:relative;
  float: left;
  
}

.item{
  font-family: 'inter', sans-serif;
  width: 100%;
  padding: 10px;
  font-weight:900;
  font-size:larger;
  margin: 5px 0;
  cursor: grab;
  background-color: #039be5;
  border-radius: 3px;
  transition: 0.1s linear;
  cursor:default;
}



.item:hover{
  width: 102%;
}

.plus{
  display:inline-block;
  width:45px;
  height:45px;
  
  background:
    linear-gradient(#000,#000),
    linear-gradient(#000,#000),
    #039be5;
  background-position:center;
  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
  cursor: pointer;
}

.plus:hover{
  border: solid black;
  border-radius: 3px;
}

.plus:active{
  background-size: 40% 2px,2px 40%; /*thickness = 2px, length = 50% (25px)*/
}

.hidden{
  display: none;
}

.modal{
  font-family: 'inter', sans-serif;
  font-weight: 700;
  font-size: medium;
  
  padding: 20px 20px;
  margin: 10px;
  margin-bottom: 310px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
  color: black;
  background-color: aliceblue;
  margin-top:-396px ;
  border-radius: 3px;
  transition: 0.1s linear;
}

.modal:hover{
  width: 205px;
}

.modal-title{
  margin: auto;
  margin-top: -10px;
  margin-bottom: 10px;
}



.accept__button{
  background-color: #039be5;
  color: aliceblue;
  border-radius: 3px;
  margin-left: 0px;
  width: 80px;
  height: 20px;

}

#newList{
  background-color: #039be5;
  margin-bottom: 5px;
  display: inline-block;
  margin-top: 7px ;
  border: none; 
  border-bottom: 2px solid black;
  color: #000;
  background-color: transparent;

}

#newList:focus{
  background-color: white;
  border-radius: 3px;
}

input[name="newList"] {
  display: none;  
}

input [type="text"]{
  color: #000;
  font-size: larger;
}

.list__input{
  font-family: 'inter', sans-serif;
  width: 100%;
  height: 58px;
  border-radius: 3px;
  padding: 10px;
  font-weight:900;
  font-size:larger;
  margin: 5px 0;
  display: inline-block;
  flex-direction: row;
  background-color: #039be5; 
  justify-content: center;
  transition: 0.1s linear;
}

.list__input:hover{
  width: 102%;
}

.list__input:active{
  width: 102%;
}

.plus__kontainer{
  display: inline-block;
  margin-left: 220px;
  margin-top: -120px;
}

.delete_item{
  position: relative;
  left: 220px;
  margin-bottom: 10px;
  top: -5px;
  cursor: pointer;
  width: 30px;
}

.delete{
  background-image: url('./trash.png');
  height: 30px;
  width: 30px;
  background-size:100%;
}


